<<<<<<< HEAD
.card{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
=======
.card{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
>>>>>>> 9fef467e57b2d528b8eeb638c8178e9d91283920
}